In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
##abriendo el archivo
df_netflix=pd.read_csv("netflix_titles.csv")

In [4]:
##viendo si cargo el dataframe y viendo algunos datos
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [6]:
##viendo que tipo de dato es la columna release_year
df_netflix['release_year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7787 entries, 0 to 7786
Series name: release_year
Non-Null Count  Dtype
--------------  -----
7787 non-null   int64
dtypes: int64(1)
memory usage: 61.0 KB

In [7]:
##viendo si hay nulos en el dataframe
df_netflix.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [11]:
##eliminando la columna description ya que no aporta para el analisis
df_netflix=df_netflix.drop(columns='description',axis=1)

In [12]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [13]:
##eliminando la columna cast ya que no aporta para el analisis
df_netflix=df_netflix.drop(columns='cast',axis=1)

In [14]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [15]:
##guardando los nulos del dataframe en una variable
nulos_totales=df_netflix.isnull().sum()

In [19]:
##sumando los nulos del dataframe y guardandolos en la misma variable para reemplazar los datos por el total y lo mostramos
nulos_totales=nulos_totales.sum()
nulos_totales

np.int64(2913)

In [20]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   country       7280 non-null   object
 5   date_added    7777 non-null   object
 6   release_year  7787 non-null   int64
 7   rating        7780 non-null   object
 8   duration      7787 non-null   object
 9   listed_in     7787 non-null   object
dtypes: int64(1), object(9)
memory usage: 608.5+ KB

In [29]:
##creando una nueva columna para guardar el primer valor de la columna listed_in de cada fila
df_netflix['primer_listed_in']=df_netflix['listed_in'].str.split(',').str[0]

In [30]:
##mostramos el resulutado del dataframe con la nueva columna
df_netflix.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,primer_listed_in
0,s1,TV Show,3%,NaN,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",International TV Shows
1,s2,Movie,7:19,Jorge Michel Grau,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",Dramas
2,s3,Movie,23:59,Gilbert Chan,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies",Horror Movies
3,s4,Movie,9,Shane Acker,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",Action & Adventure
4,s5,Movie,21,Robert Luketic,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,Dramas